body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
}

.upload-section,
.output-section {
    margin-top: 1rem;
}

.upload-label {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-label:hover {
    background-color: #0056b3;
}

#imageUpload {
    display: none;
}

#previewImage {
    max-width: 100%;
    margin-top: 1rem;
}

#downloadLink {
    display: none;
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#downloadLink:hover {
    background-color: #388E3C;
}
